# Project ignores
/unrelevant
/target/
/bin/
/node_modules/
/.idea/
/*.iml
*.log
*.class
.DS_Store
.env
/*.swp
/.smarttomcat/
/.vscode/
# XAMPP / Windows
Thumbs.db
desktop.ini
.classpath
.project
.settings/

webapp/assets/images/logos/*